@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;150;500&display=swap');
html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #448D76;

}



header{
    color:#FCBA12;
    display:table;
    height: 500px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 15%;
}

.topmenu table{
    background-color: #F7EDD4;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}
.topmenu td{
    font-size: 100%;
    border-right: 3px solid #093426;
    font-family: 'Raleway';
}
.topmenu td a{
    text-decoration: none;
    color: #093426;
}



header > #alg{
    display: table-cell;
    vertical-align:middle;
    text-align: right;
    padding-right: 50px;
    font-size: 70px;
    font-family: 'Raleway';
    font-weight: bold;
}
header > #arr{
    display: table-cell;
    vertical-align:middle;
    padding-top: 15%;
    padding-left: 5%;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: bold;
    width: 300px;
    animation-name: arr;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes arr{

    0%{
        color: rgba(252, 186, 18, 0);
    }
    50%{
        color: rgba(252, 186, 18, 1);
    }
    100%{
        color: rgba(252, 186, 18, 0);
    }

}

.shead {
    border: #5F6368 solid 2px;
    background-color: #F7EDD4;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px #63686E;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    padding-bottom: 2%;
}
.shead > .title{
    color:#AE0D7A;
    font-size: 75px;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}
.shead > .dis{
    color:#093426;
    display: inline-block;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    width: 80%;
}
.shead > canvas{
    width: 700px;
    padding: 0;
    margin: auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}





.accordion {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #448D76;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    color: #093426;
    cursor: pointer;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
}

.active, .accordion:hover {
    font-family: 'Raleway', sans-serif;
    background-color: #448D76;
    border-radius: 30px 30px 0 0;
}

.panel {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    width: 49%;
    padding-left: 1%;
    margin-left: 25%;
    padding-bottom: 5px;
    display: none;
    background-color: #448D76;
    color: #093426;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
}




.buttons{
    width: 700px;
    margin: auto;
    display: block;
}

.buttons > .Brand {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
}
.buttons > .Iter {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 30%;
}
.buttons > .Sort{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 2%;
}


.buttons > .Count {
    height: 40px;
    width: 60px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #093426;
    font-size: 30px;
}

.buttons > input[type="button"] {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: none;
	border-radius: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.buttons > input[type="button"]:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.buttons > input[type="button"]:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.buttons > input[type="button"]:active {
	background-color: #808080;
}
.buttons > input[type="button"]:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}


footer{
    background-color: #093426;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}
footer a{
    color: black;
}